.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*-checkpoint.ipynb
contributor_folders/Phil/bloom_viz_pk.ipynb
/contributor_folders/Phil
contributor_folders/Gulce/chla/PACE_OCI.20240602.L3m.DAY.CHL.V2_0.chlor_a.0p1deg.NRT.nc
*.nc
